.alto {
    display: flex;
    justify-content: space-around;
    background-color: #3b5998;
    margin-top: -14px;
    margin-left: -14px;
    margin-right: -14px;
}

.ingreso-datos {
    margin-top: 30px;
    color: white;
}

.color {
    color: white;
}


#input-Especifico {
    padding-right: 154px;
    width: 140px;
    height: 30px;
}

.agrupar{
    display: flex;
}

.lejos{
    display: flex;
}
.id{
    display: flex;justify-content: space-around;align-items: center;
}

.img{
    width: 300px;
    height: 300px;
}