#Titulo {
    color: tomato;
}

p.especial {
    color: mediumaquamarine;
}

p.texto {
    color: slateblue;
}

div p {
    color: aquamarine;
}

div h2,
div h3 {
    color: brown;
}

* {
    font-size: 24px;
    /*color: black;*/
}

/* esto no se va a ver*/
/*
.color{
    color:#ff0000; ;
}
*/
.color {
    /* border: 5px red inset; */
    border-style: solid;
    border-color: brown;
    border-radius: 10px;
    border-width: 5px;
}

#fondo {
    background-color: rgba(255, 0, 0);
    /*opacity: 0.3;*/
    height: 200px;
    background-repeat: repeat-y;
    background-position: center bottom;
    background: #f00 url("1/img/itachi.jpg")repeat-y center bottom /100px 100px;
}

.margen {
    background-color: chocolate;
    margin: 15px;
    padding: 30px 15px 5px;
    border: solid 1px black;
    height: 100px;
    width: 500px;
    overflow: hidden;
    outline: 1px solid red;
}

.text {
    font-family: "Roboto", sans-serif;
    text-align: justify;
    text-decoration: overline;
    text-shadow: 3px 5px 5px blue;
}

a:link {
    color: blueviolet;
}

a:visited {
    color: gray;
}

a:hover {
    color: yellow;
}

a:active {
    color: red;
}

ul {
    background-color: cyan;
    list-style-type: decimal;
    /*padding-left: 0px;*/
    /*list-style-position: inside ;*/
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: solid 1px #eee;
    padding: 5px;
}

th {
    background-color: tomato;
    color: white;
    text-align: left;
}

tr:nth-child(even){
    background-color: #eee;
}

tr:hover{
    background-color: #aaa
}

span{
    display: block;
    /*display: none;*/
    /*visibility: hidden;*/
    max-width: 300px;
    background-color: #f00;
}

.inline{
    display: inline ;
}

#position{
    position: sticky;
    left: 20px;
    top: 20px;
}
